<div class="row">
    <div class="col-md-6 m-auto">
        <h2 class="ltext-center">Admin Login</h2>
        <form action="/admin/admin-login" method="POST">
        
            <div class="form-group">
                <label>Email Address</label>
                <input type="email" name="Email" class="form-control" placeholder="Email Address">

                <label>Password</label>
                <input type="password" name="Password" class="form-control" placeholder="Password">
            </div>
            {{#if loginErr}}
            <p class="error text-danger">{{loginErr}}</p>
        {{/if}}
        {{#if count}}
        <a href="/admin/register">Register admin?</a>
        {{/if}}
            <button style="border-radius: 4px;" type="submit" class="btb btn-primary float-right">Login</button>
        </form>
    </div>
</div>